repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint
        entry: npx stylelint
        language: node
        types: [css, scss]
